# ==========================================
# SUPABASE CONFIGURATION (Frontend & Client)
# ==========================================

NEXT_PUBLIC_SUPABASE_URL="https://tu-proyecto.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="tu-anon-public-key-aqui"

# ==========================================
# PRISMA & DATABASE CONFIGURATION (Backend)
# ==========================================

# DATABASE_URL usa el puerto 6543 (Connection Pooling / Supavisor) para conexiones escalables.
DATABASE_URL="postgres://postgres.[tu-ref]:[tu-password]@aws-0-[region].pooler.supabase.com:6543/postgres?pgbouncer=true"

# DIRECT_URL usa el puerto 5432 (Conexión Directa) y es requerida por Prisma para ejecutar migraciones.
DIRECT_URL="postgres://postgres.[tu-ref]:[tu-password]@aws-0-[region].pooler.supabase.com:5432/postgres"